services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

  postgres:
    image: pgvector/pgvector:pg16
    container_name: postgres
    environment:
      POSTGRES_DB: teamsparta_vector
      POSTGRES_USER: rtan
      POSTGRES_PASSWORD: sparta
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=en_US.UTF-8"
    ports:
      - "5433:5432"
    volumes:
      - ${DB_HOME}/data/postgres:/var/lib/postgresql/data
      - ${PROJECT_ROOT}/src/main/resources/db/migration/V1__init.sql:/docker-entrypoint-initdb.d/V2__init.sql
    command: postgres -c shared_preload_libraries=vector

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
      - OPENAI_API_BASE_URLS=http://host.docker.internal:8080/v1
      - WEBUI_SECRET_KEY=my-super-secret-key-12345
    volumes:
      - open_webui_data:/app/backend/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - ollama
    restart: unless-stopped

volumes:
  ollama_data:
  open_webui_data:
  # postgres_data: # 필요시 주석 해제